body {
    background-color: #F4F4F4;
    padding-top: 100px;
}

h1, h3, h4, p {
    font-family: 'Poppins', sans-serif, 'Nanum Gothic', sans-serif;
}

ul {
  list-style: none;
}

li {
  float: left;
  margin-right: 20px;
}

span{
  background-color: #F0FF00;
}

hr {
    margin: 0 30px;
}

.main {
  margin-top: 100px;
  width: 1400px;
  height: 400px;
  position: relative;
}

.header{
  line-height: 20%;
}

.about {
  background-color:  #F4F4F4;
  margin: 0 auto;
  width: 700px;
  height: 400px;
  position: absolute;
}

.profile {
    background-color: white;
    /*border-top: 10px solid #020202;
    border-bottom: 10px solid #020202;
    border-radius: 10px;*/
    margin: 0 auto;
    width: 450px;
    height: 400px;
    left: 700px;
    position: absolute;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}

.profile-image {
    width: 100px;
    height: 140px;
    border-radius: 50px;
    margin-top: 20px;
}

.social-media {
  display: inline-block;
}

.social-media-icon {
  width: 20px;
  height: 20px;
}

.text{
    color: black;
    text-align: left;
    font-size: 1.2em;
    list-style: none;
}