body{
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #F4F4F4;
  margin: auto;
}

nav { 
    margin: 0 100px;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

li a:hover:not(.active) {
    background-color: rgb(229, 245, 9);
}

.active {
    background-color: #4CAF50;
}

a {
  color: black;
  text-decoration: none;
}

a.btn {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid black;
}

a.btn:hover {
  border-style: none;
  color: white;
  background-color: blue;
}

span, h1, h2, h3, h4{
  font-family: 'Poppins', sans-serif;
}

p {
  line-height: 1.8em;
}

#quote {
  line-height: 1.25em;
  font-size: 50px
}

.back-color {
  background-color: rgb(229, 245, 9);
}

.social-media-icon {
  width: 20px;
  height: 20px;
}

.contents_01 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 60px 0 100px 100px;   
}

.contents_02 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 100px 0 100px 100px;
}

.quote {
  flex: 2.5;
}

.profile {
  flex: 1.5;
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

.profile-image {
  width: 200px;
  height: 280px;
  border-radius: 5px;
  margin-top: 20px;
}

.line {
  margin: 0 auto;
  width: 40px;
  border-top:3px solid blue;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

#btn-01 {
  margin-left: 130px;
  width: 100%;
}

#btn-02 {
  margin-right: 130px;
  width: 100%;
}

.about {

}